

body{
   background-color: #013135;
   margin:0;
 }

#wrapperDiv{
 height: 800px;
 width: 900px;
 margin:auto;
 margin-top: 20px;

}

.tile{
  float:left;
  padding:20px;
  width:45px;
  height:35px;
  margin-left: 55px;
  margin-top: 10px;
  background-color: #0066ff;
  border-radius: 100%;
  border: solid black 2px;
}

.lefttile{
  float:left;
  padding:20px;
  width:45px;
  height:35px;
  margin-left: 5px;
  margin-top: 30px;
  background-color: #00ff2f;
  border-radius: 100%;
  border: solid black 2px;
}

.righttile{
  float:right;
  padding:20px;
  width:150px;
  height:150px;
  margin-left: 150px;
  margin-top:180px;
  background-color: #ff0000;
  border-radius: 100%;
  border: solid black 2px;
}

.dog{
  padding: 20px;;
}



